<!-- Blog Section -->



<section class="widget-section padding">
    <div class="container">
        <div class="widget-wrap row">
            <div class="col-md-4 xs-padding">
                <div class="widget-content">
                    <img src="/PICS/chigari-new-logo.png" height="70px" alt="logo">
                    <p>The secret to happiness lies in helping others. Never underestimate the difference YOU can make in the lives of the poor</p>
                    <ul class="social-icon">
                        <li><a href="https://www.facebook.com/chigarifoundation1"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.twitter.com/chigari_ngo"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://instagram.com/chigari_foundation?igshid=YmMyMTA2M2Y="><i class="fa fa-instagram"></i></a></li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-4 xs-padding">
                <div class="widget-content">
                    <h3>Chigari Foundation</h3>
                    <ul class="widget-link">
                        
                            <li> <a href="/">Home</a>
                            </li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/our-work">Our Work</a></li>
                            <li><a href="/team">Team</a></li>
                            <li><a href="/partners">Partners</a></li>
                            <li><a href="/gallery">Gallery</a></li>
                            
                            <li> <a href="/contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-4 xs-padding">
                <div class="widget-content">
                    <h3>Chigari Location</h3>
                    <ul class="address">
                        <li><i class="ti-email"></i> Info@chigarifoundation.org</li>
                        <li><i class="ti-mobile"></i> +234 807 7592 576</li>
                        <li><i class="ti-location-pin"></i> 12 Sheikh Ismail Idris Road, 1st Avenue, Gwarinpa, Abuja-FCT. </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section><!-- ./Widget Section -->

<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 sm-padding">
                <div class="copyright">&copy; 2022 CHIGARI</div>
            </div>
            <div class="col-md-6 sm-padding">
                <ul class="footer-social">
                    <li><a href="#">Orders</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Report Problem</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!-- /Footer Section -->

<a data-scroll href="#header" id="scroll-to-top"><i class="arrow_up"></i></a>