<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
        <meta name="author" content="DynamicLayers">
       
        <title>CHIGARI-ABOUT</title>
        
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

        <!-- Font Awesome Icons CSS -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- Themify Icons CSS -->
        <link rel="stylesheet" href="css/themify-icons.css">
        <!-- Elegant Font Icons CSS -->
        <link rel="stylesheet" href="css/elegant-font-icons.css">
        <!-- Elegant Line Icons CSS -->
        <link rel="stylesheet" href="css/elegant-line-icons.css">
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Venobox CSS -->
        <link rel="stylesheet" href="css/venobox/venobox.css">
		<!-- OWL-Carousel CSS -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <!-- Slick Nav CSS -->
        <link rel="stylesheet" href="css/slicknav.min.css">
        <!-- Css Animation CSS -->
        <link rel="stylesheet" href="css/css-animation.min.css">
        <!-- Nivo Slider CSS -->
        <link rel="stylesheet" href="css/nivo-slider.css">
		<!-- Main CSS -->
        <link rel="stylesheet" href="css/main.css">
		<!-- Responsive CSS -->
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="site-preloader-wrap">
            <div class="spinner"></div>
        </div><!-- Preloader -->
        <%- include ('partials/header.ejs') %><!-- /Header Section -->
        <div class="header-height"></div>
        <div class="pager-header">
            <div class="container">
                <div class="page-content">
                    <h2>About Us</h2>
                    <p>Help today because tomorrow you may be the one who <br>needs more helping!</p>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">About Us</li>
                    </ol>
                </div>
            </div>
        </div><!-- /Page Header -->
        <section class="about-section bg-grey bd-bottom padding">
            <div class="container-fluid">
                <div class="row about-wrap">
                    <div class="col-md-4 xs-padding">
                        <div class="profile-wrap">
                            <img class="profile" src="/PICS/pate.PNG" alt="profile">
                            <h3>Dr Muhammad Ali Pate <span>Chairman & Founder of Chigari.</span></h3>
                            <p>Dr. Muhammad Ali Pate is Chair of the Board of Chigari Foundation. He served in the past as Minister of State for Health in Nigeria. Prior to serving as Minister of State, he was the Executive Director/CEO of the National Primary Health Care Developmnt Agency (NPHCDA), in Abuja, Nigeria where he launched several successful and innovative national programs to improve health outcomes. </p>
                        </div>
                    </div>
                    <div class="col-md-8 xs-padding">
                        <div class="about-content">
                            <h2 class="text-center">About Chigari Foundation</h2>
                            <p class="text-center">Chigari Foundation is a non-profit organization, whose goal is to provide world-class leadership in
                                engaging communities to implement actions that will positively transform lives and the society. Dr
                                Muhammad Ali Pate established the Foundation with an aspiration for Chigari Foundation to be
                                among the foremost indigenous civil society organisations in Nigeria. The Foundation is driven by need
                                and highest possible impact. As such, its interventions are practical and their impacts measurable. We
                                take the view that learning (education) and health transitions are the most important as well as basic
                                transitions for millions of young people, thus it is critical to address massive crisis in basic education,
                                literacy and numeracy as well as health, to safeguard Nigeria’s future.</p>
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="about-section bd-bottom shape circle padding">
            <div class="container">
                <div class="row">
                   
                    <div class="col-md-12 xs-padding">
                        <div class="about-wrap row">
                               
                            <div class="col-md-6 xs-padding">
                                <img src="PICS/mission.jpg" alt="about-thumb" style="height: 300px">
                                <h3 class="text-center">Our Mission</h3>
                                <p class="text-center">Our mission is to fast-track social and economic transformation in populations and communities that
                                    are deprived, disempowered and needy, by bringing together stakeholders in the governance,
                                    community, market, donor and social programing for effective intervention.</p>
                              
                            </div>
                            <div class="col-md-6 xs-padding">
                                <img src="PICS/vision.jpg" alt="about-thumb"  style="margin-top: 50px;height: 300px" >
                                <h3 class="text-center">Our Vision</h3>
                                <p class="text-center">Our vision is to be the leading aggregator of resources, including expertise, local knowledge, donor
                                    funding and staff to deliver practical development and humanitarian interventions in governance,
                                    healthcare, nutrition, education, skill acquisition, employment, youth development, gender
                                    empowerment and civic engagement to communities that need them most, in a transparent and
                                    measureable manner</p>
                               
                            </div>

                            
                           
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="about-section bd-bottom shape circle padding">
                <div class="container-fluid" >
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                    <h3 class="text-center">Our Approach</h3>
                                    <p class="">Our approach is premised on our understanding that true engagement with communities entails
                                        genuine partnership with institutions, structures and systems to address supply and demand
                                        constraints for improving social services. </p>
                            </div>
                        </div>
                            <div class="row">
                                     <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <div class="" >
                                               
                                                <h3 class="text-center">There are four values guiding our approach</h3>
                                            
                                                <ul class="check-list ">
                                                    <li><i class="fa fa-check"></i> <i>Genuine community Partnership</i> 
                                                    <p>Entry point for our partnerships is always the welfare of the community.</p>
                                                    </li>
                                                    <li><i class="fa fa-check"></i><i>Trust based on Integrity</i>
                                                    <p>We work with the highest levels of integrity in all that we do, so as to be trustworthy for the
                                                        communities that we engage in partnership. We consider the link of “trust” as a sacred bond, which
                                                        in Hausa language is called “Amana”.</p>
                                                    </li>
                                                    <li><i class="fa fa-check"></i><i>Discipline in Execution</i>
                                                    <p>We strive to ensure highest discipline and diligence in the ways we execute the agreements we make
                                                        with our partners. We apply the best possible tools of scientific management adapted to the northern
                                                        Nigerian context, to ensure rigor and excellence in execution.</p>
                                                    </li>
                                                    <li><i class="fa fa-check"></i><i>Achieve Sustainable Impact</i>
                                                    <p>We continually strive to make sustainable positive impact in our partner communities, with our
                                                        external partners as well as within our own organisation.</p>
                                                    </li>
                                                   
                                                </ul>
                                    
                                            </div>
                                           
                                        </div>
                                        
                                 
                            </div>
                        </div>
            </section>
      
       <!-- /About Section -->
        
        <section class="team-section bg-grey bd-bottom circle shape padding">
            <div class="container">
             
                <div class="team-wrapper row">
                    <div class="col-lg-2 sm-padding">
                       
                    </div>
                    <div class="col-lg-8 sm-padding">
                        <div class="team-content">
                            <h2 class="text-center">Objectives</h2>
                            <p> <b>The Foundation is determined to achieve the following objectives:</b> </p>
                            <ul class="check-list">
                                <li><i class="fa fa-check"></i>Work through networks of credible community leaders and local institutions to improve
                                    service delivery and human development in a transparent manner.</li>
                                <li><i class="fa fa-check"></i>Enhance community engagement by developing low-cost, high quality sustainable models of
                                    engagement, to drive demand for supply-side improvements in service delivery by
                                    government and development partners.</li>
                                <li><i class="fa fa-check"></i>Empower the youth and socially deprived persons to acquire education and skills, so that they
                                    can make informed decisions and be more responsible for their economic and social well
                                    being.</li>
                                <li><i class="fa fa-check"></i>Catalyse momentous improvement in access to education and drive improvement in learning
                                    outcomes to address the gap, particularly in North Eastern Nigeria.</li>
                                <li><i class="fa fa-check"></i>Improve community health through an inclusive process that involves community leaders and
                                    service providers.</li>
                                    <li><i class="fa fa-check"></i>Facilitate involvement in service delivery by State and Local Government officials.</li>

                                        <li><i class="fa fa-check"></i>Facilitate increase in the capacity of government institutions to effectively deliver
                                            interventions and services where needed most.</li>
                                            <li><i class="fa fa-check"></i>Complement government and partner efforts in tackling security related challenges in the
                                                Northeast through community social networks.</li>

                            </ul>
                           
                        </div>
                    </div>
                </div>
            </div>
        </section><!-- /Team Section -->
        
       
        
       

        <%- include ('partials/footer.ejs') %>
	
		<!-- jQuery Lib -->
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/vendor/bootstrap.min.js"></script>
		<!-- Tether JS -->
		<script src="js/vendor/tether.min.js"></script>
        <!-- Imagesloaded JS -->
        <script src="js/vendor/imagesloaded.pkgd.min.js"></script>
		<!-- OWL-Carousel JS -->
		<script src="js/vendor/owl.carousel.min.js"></script>
		<!-- isotope JS -->
		<script src="js/vendor/jquery.isotope.v3.0.2.js"></script>
		<!-- Smooth Scroll JS -->
		<script src="js/vendor/smooth-scroll.min.js"></script>
		<!-- venobox JS -->
		<script src="js/vendor/venobox.min.js"></script>
        <!-- ajaxchimp JS -->
        <script src="js/vendor/jquery.ajaxchimp.min.js"></script>
        <!-- Counterup JS -->
		<script src="js/vendor/jquery.counterup.min.js"></script>
        <!-- waypoints js -->
		<script src="js/vendor/jquery.waypoints.v2.0.3.min.js"></script>
        <!-- Slick Nav JS -->
        <script src="js/vendor/jquery.slicknav.min.js"></script>
        <!-- Nivo Slider JS -->
        <script src="js/vendor/jquery.nivo.slider.pack.js"></script>
        <!-- Letter Animation JS -->
		<script src="js/vendor/letteranimation.min.js"></script>
        <!-- Wow JS -->
		<script src="js/vendor/wow.min.js"></script>
		<!-- Contact JS -->
		<script src="js/contact.js"></script>
		<!-- Main JS -->
		<script src="js/main.js"></script>

    </body>
</html>