<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
        <meta name="author" content="DynamicLayers">
       
        <title>CHIGARI-ABOUT</title>
        
		<link rel="shortcut icon" type="image/x-icon" href="img/favicon.png">

        <!-- Font Awesome Icons CSS -->
        <link rel="stylesheet" href="css/font-awesome.min.css">
        <!-- Themify Icons CSS -->
        <link rel="stylesheet" href="css/themify-icons.css">
        <!-- Elegant Font Icons CSS -->
        <link rel="stylesheet" href="css/elegant-font-icons.css">
        <!-- Elegant Line Icons CSS -->
        <link rel="stylesheet" href="css/elegant-line-icons.css">
		<!-- Bootstrap CSS -->
        <link rel="stylesheet" href="css/bootstrap.min.css">
		<!-- Venobox CSS -->
        <link rel="stylesheet" href="css/venobox/venobox.css">
		<!-- OWL-Carousel CSS -->
        <link rel="stylesheet" href="css/owl.carousel.css">
        <!-- Slick Nav CSS -->
        <link rel="stylesheet" href="css/slicknav.min.css">
        <!-- Css Animation CSS -->
        <link rel="stylesheet" href="css/css-animation.min.css">
        <!-- Nivo Slider CSS -->
        <link rel="stylesheet" href="css/nivo-slider.css">
		<!-- Main CSS -->
        <link rel="stylesheet" href="css/main.css">
		<!-- Responsive CSS -->
        <link rel="stylesheet" href="css/responsive.css">
        <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div class="site-preloader-wrap">
            <div class="spinner"></div>
        </div><!-- Preloader -->
        <%- include ('partials/header.ejs') %><!-- /Header Section -->
        <div class="header-height"></div>
        <div class="pager-header">
            <div class="container">
                <div class="page-content">
                    <h2>About Us</h2>
                    <p>Help today because tomorrow you may be the one who <br>needs more helping!</p>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active">About Us</li>
                    </ol>
                </div>
            </div>
        </div><!-- /Page Header -->
        <section class="about-section bd-bottom shape circle padding">
                <div class="container-fluid" >
                        <div class="row">
                            <div class="col-md-2"></div>
                            <div class="col-md-8">
                                    <h3 class="text-center">Our Work</h3>
                                    <p class="">Chigari Foundation began active operation in February 2016 in Routine Immunization (RI) and Primary
                                            Health Care (PHC) in six Northern Nigerian states of Bauchi, Borno, Kaduna, Kano, Sokoto and Yobe
                                            that have tripartite Memorandum of Understanding (MOU) with Bill and Melinda Gates Foundation
                                            (BMGF) and Dangote Foundation (DF) to improve RI and PHC in these states. </p>
                            </div>
                        </div>
                            <div class="row">
                                     <div class="col-md-2"></div>
                                        <div class="col-md-8">
                                            <div class="" >
                                               
                                                <h3 class="">The overall deliverables
                                                        of Chigari Foundation on RI/PHC demand creation are:</h3>
                                            
                                                <ul class="check-list ">
                                                    <li><i class="fa fa-check"></i> Technical assistance to traditional institutions for implementation of community-level
                                                        activities that would increase demand for RI and PHC services.
                                                    </li>
                                                    <li><i class="fa fa-check"></i>Facilitate the development of RI/PHC operational and capacity building plans for network of
                                                        traditional leaders in collaboration with SPHCDAs, NPHCDA and other partners.
                                                    </li>
                                                    <li><i class="fa fa-check"></i>Provide technical support for the Northern Traditional Leaders Committee of Primary
                                                        Healthcare (NTLC) to enhance coordination among the various stakeholders involved in RI and
                                                        PHC service delivery.
                                                    </li>
                                                  
                                                   
                                                </ul>
                                    
                                            </div>
                                           
                                        </div>
                                        
                                 
                            </div>
                            <div class="row">
                                    <div class="col-md-2"></div>
                                    <div class="col-md-8">
                                            
                                            <p class="">The overall programme goal is to create an interface between communities and the health system
                                                    through the traditional institution for improved demand and accountability for RI and PHC system.
                                                    
                                                  </p>

                                                    <p class="">
                                                            The engagement model takes a “bottom-up’’ approach to build the capacity and strengthen the role
                                                            of the traditional institution in driving demand of PHC services. So far, Chigari Foundation has engaged
                                                            all Emirates/Chiefdom councils in 6 states namely Borno, Yobe, Bauchi, Kano, Kaduna and Sokoto
                                                            states. The Foundation also supported the establishment and strengthening of the Emirates Councils
                                                            Committee on Health (ECCOH) and the traditional leaders through these committees to develop
                                                            annual operational work plans incorporated into the State Social Mobilization Working Group
                                                            (SSMWG) plans in the respective states.
                                                    </p>

                                                    <p class="">
                                                            Our strategy was developed in an iterative process with different groups for effective partnership in
                                                            creating demand for routine immunization and other primary health care services.
                                                    </p>
                                    </div>
                                </div>
                        </div>
<div class="container-fluid">
        <div class="row">
                <div class="col-md-2"></div>
                   <div class="col-md-8">
                       <div class="" >
                          
                           <h3 class="">  Our major partners
                                are:</h3>

                                <ul class="check-list ">
                                        <li><i class="fa fa-check"></i> <i>State Primary Health Care Development Agencies (SPHCDAs)</i> 
                                        <p>Governing body of the state level primacy health care related matters.</p>
                                        </li>
                                        <li><i class="fa fa-check"></i><i>National Traditional Leaders Council (NTLC)</i>
                                        <p> Members represent traditional leaders and traditional institutions that are implicated with
                                                PHC delivery at the national level.</p>
                                        </li>
                                        <li><i class="fa fa-check"></i><i>Emirates Council Committee on Health (ECCOH)</i>
                                        <p>Members represent traditional leaders and traditional institutions that are implicated with
                                                PHC delivery at the state and local level.</p>
                                        </li>
                                        <li><i class="fa fa-check"></i><i>Community engagement team/state programme offices</i>
                                        <p> Creation of awareness on Routine Immunisation and baby tracking, support communities to
                                                access to life saving commodities in selected PHCs and get adequate care.</p>
                                        </li>
                                        <li><i class="fa fa-check"></i><i>Social Mobilization Technical Working Group (SMTWG)</i>
                                            <p> A group of field experts in the 6 tripartite MOU states collecting data and mobilising key
                                                    community members to support Chigari Foundation achieve its objectives.</p>
                                            </li>
                                       
                                    </ul>
               
                       </div>
                      
                   </div>
                   
            
       </div>

       <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                    <h3 class="text-center">Key thematic areas for traditional leaders’ participation to create demand for RI services in those
                            states:</h3>

                            <h4 class="">Routine Immunization (RI) Session Planning </h4>
                            <p class="">To determine a suitable day, time and location
                                    for the communities to fully participate in RI session, and traditional leaders in the six MOU
                                    states actively participated in session planning meetings with the community and Health
                                    facility-in-charges, participated in quarterly (every 3 months) review and update of session
                                    plans and identified and validate target population in collaboration with the RI service
                                    provider. </p>
                            <h4 class="">Community Mobilization</h4>
                            <p class="">To create awareness and increase demand for RI services, where
                                    traditional leaders conducted community sensitization on RI, conducted House-to-house
                                    mobilisation for RI and initiated and coordinates community dialogues/compound meetings</p>
                            <h4 class="">RI Session Monitoring</h4>
                            <p class="">To ensure all planned RI sessions are conducted and traditional leaders
                                    conducted monitoring visits to RI sessions and provided support (pre, during & post) to RI
                                    sessions. </p>
                            <h4 class="">Data collection & Reporting</h4>
                            <p class=""> To obtain quality RI data and use obtained RI data for action, in
                                    which they ensured consistent use of data capture tools, ensured tracking of data on newborns, conducted defaulter tracing and attended review meetings on RI at LGA level.</p>
                   <h3 class="text-center">
                        To enhance our understanding of the multi-layered structure of the traditional institution and the
                        influence mechanism within their communities, ‘Landscape Mapping (LM)’ was conducted in the 6
                        states.
                   </h3>
                   <h4 class="">  The objectives of the LM are as follows:</h4>
                   <ul class="check-list ">
                        <li><i class="fa fa-check"></i> Described demographic and socio-economic characteristics of traditional leaders across 6
                            MOU States –Bauchi, Borno, Kaduna, Kano, Sokoto and Yobe.
                        </li>
                        <li><i class="fa fa-check"></i>Described the structure of the traditional institution in each of the State.
                        </li>
                        <li><i class="fa fa-check"></i>Generate geospatial map of the jurisdictions of the traditional leaders.
                        </li>
                      
                       
                    </ul>
                    <h3 class="text-center">
                            The Social Network survey and analysis was also conducted to evaluate the influence mechanism of
                            the traditional leaders and network of contacts within their communities. 
                       </h3>
                       <h4 class="">The following objectives
                            were achieved from the SNA:</h4>
                       <ul class="check-list ">
                            <li><i class="fa fa-check"></i>Identified and described influential decision makers and the decision-making processes within
                                the traditional institutions and communities.
                            </li>
                            <li><i class="fa fa-check"></i>Described how the social network of traditional institution influences positive health seeking
                                decision making by individuals and improved accountability in the immunization program at
                                the community level.
                            </li>
                           
                            </li>
                          
                           
                        </ul>

                        <p class="">
                                Additionally, from this activities, a comprehensive directory of the traditional institution was also
                                created for the Emirates and Chiefdoms in the states.
                               
                        </p>

                        <p class="">
                                In June 2017, the name-based community engagement strategy was piloted in Bodinga LGA of Sokoto
                                state. The result of this pilot indicated significant improvement in uptake of RI services in communities
                                thus the approach was recommended for adoption by all states. The strategy entails the traditional
                                leaders (Ward Heads) line listing all the under one children in their communities using simple exercise
                                books and subsequently reconciling the list with the RI registers in the nearby health facilities. The
                                named-based strategy has now been rolled out across all the six MoU States.
                        </p>
                       
            </div>
        </div>
</div>
                       
            </section>
       
        
      
       <!-- /About Section -->
        
      
        
      

        <%- include ('partials/footer.ejs') %>
	
		<!-- jQuery Lib -->
		<script src="js/vendor/jquery-1.12.4.min.js"></script>
		<!-- Bootstrap JS -->
		<script src="js/vendor/bootstrap.min.js"></script>
		<!-- Tether JS -->
		<script src="js/vendor/tether.min.js"></script>
        <!-- Imagesloaded JS -->
        <script src="js/vendor/imagesloaded.pkgd.min.js"></script>
		<!-- OWL-Carousel JS -->
		<script src="js/vendor/owl.carousel.min.js"></script>
		<!-- isotope JS -->
		<script src="js/vendor/jquery.isotope.v3.0.2.js"></script>
		<!-- Smooth Scroll JS -->
		<script src="js/vendor/smooth-scroll.min.js"></script>
		<!-- venobox JS -->
		<script src="js/vendor/venobox.min.js"></script>
        <!-- ajaxchimp JS -->
        <script src="js/vendor/jquery.ajaxchimp.min.js"></script>
        <!-- Counterup JS -->
		<script src="js/vendor/jquery.counterup.min.js"></script>
        <!-- waypoints js -->
		<script src="js/vendor/jquery.waypoints.v2.0.3.min.js"></script>
        <!-- Slick Nav JS -->
        <script src="js/vendor/jquery.slicknav.min.js"></script>
        <!-- Nivo Slider JS -->
        <script src="js/vendor/jquery.nivo.slider.pack.js"></script>
        <!-- Letter Animation JS -->
		<script src="js/vendor/letteranimation.min.js"></script>
        <!-- Wow JS -->
		<script src="js/vendor/wow.min.js"></script>
		<!-- Contact JS -->
		<script src="js/contact.js"></script>
		<!-- Main JS -->
		<script src="js/main.js"></script>

    </body>
</html>