
    
    <footer class="footer-section">
        <div class="container">
            <div class="row">
               
                <div class="col-md-12 sm-padding">
                    <div class="copyright text-center">&copy; 2022 CHIGARI</div>
                </div>
                
            </div>
        </div>
    </footer><!-- /Footer Section -->
    
    <a data-scroll href="#header" id="scroll-to-top"><i class="arrow_up"></i></a>